/*  ===starting of nav-bar style=== */
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    font-family: montserrat;
    background:linear-gradient(to top left,#0010,#000),center top / cover url(images/bg_image.jpg) fixed no-repeat;
}
nav{
    background:rgba(rgb(26, 15, 15), rgb(19, 29, 19), rgb(10, 10, 17), .3);
    height: 80px;
    width: 100%;
    border: 1px solid white;
    box-shadow: 10px 2px 5px white;

}
label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight:bold;

}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
a.active,a:hover{
    background: #1b9bff;
    transition: .5s;

}
  .checkbtn{
    font-size: 30px;
    color: rgb(246, 254, 254);
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}  
#check{
    display:none;

}
@media(max-width:952px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px;
    }
}
@media(max-width:858px){
    .checkbtn{
        display:block;

    }
    ul{
        position:fixed;
        width:100%;
        height:100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all 0.5s;
    }
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover,a.actve{
        background: none;
        color: #0082e6;
    }
    #check:checked~ul{
        left: 0;
    }
   
        
}
/* End of nav-bar style */

/* ===starting of aside style ===*/
.left_side{
    /* height: 100vh;
    border: 1px solid white;
    width: 25%;
     
    background:rgba(2, 44, 47, 0.712); */
    /* opacity: 0.3; */
top: 0;
bottom: 0;
left: 0;
position: fixed;
/* z-index: 2; */
width: 25%;
font-size: 14px;
color: #fff;
/* text-align: left; */
background-color: rgba(145,13,13,.8);
 
}
.profil_image{
   
    width: 100%;
    height: 50vh;
    background:center top/cover  url(images/im.jpg) scroll no-repeat;
}
.profil_name{
    
position: relative;
width: 100%;
height: 100px;
border: 1px solid white;
color: white;

}
.myname{
position:absolute;
top: 10px;
left: 15%;
right: 15%;

}
.mybio{
position: absolute;
top: 30px;
text-transform: lowercase;
left: 16%;
}
.mybio::first-letter{
    text-transform: capitalize;
}
.profil_services{
    position: relative;
    width: 100%;
    height: 200px;
    color: white;

}
.myservices{
    position: absolute;
    top: 10px;
    left: 15%;
    text-transform: uppercase;
}
.profil_services ul {
    position: absolute;
    top: 40px;
    left: 17%;
}
.profil_services ul li{
    margin: 10px 0;
}


.instagram::before{
    display:block;
    content:"";
    width: 20px;
    height: 20px;
    background: center top /cover url(images/instagram.png) no-repeat;

}
.linkdln::before{
    display:block;
    content:"";
    width: 20px;
    height: 20px;
    background: center top /cover url(images/linkdln.png) no-repeat;

}
.facebook::before{
    display:block;
    content:"";
    width: 20px;
    height: 20px;
    background: center top /cover url(images/facebook.png) no-repeat;
}
.email::before{
        display:block;
        content:"";
        width: 20px;
        height: 20px;
        background: center top /cover url(images/gmail.png) no-repeat;
    
}
.email, .facebook, .linkdln,.instagram{
    display:inline-block;
    margin: 0 10px;
}
.profil_contact{
    margin-left: 40px;
}
.phone_number{
    margin-left: 27px;
margin-top: 25px;
color: white;
}